* {
    margin:0;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
nav {
    display: flex;
    background-color: #f4f3f3;
    height: 11vh;
    align-items: center;
    overflow: hidden;
    top: 0;
    /* justify-content: center; 
    */
}

/* Content */
.content {
    background-color: #e3e7eb;
    display: flex;
}

.content > div {
    background-color: white;
    margin: 20px auto;
    border-radius: 10px;
}

.content-left {
    flex: 50%
}

.content-right {
    flex: 50%
}
